<div class="navbar-fixed">
  <nav class="">
    <div class="">
      <div class="nav-wrapper">
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="fa fa-bars"></i></a>
        <a href="#" class="brand-logo">
          <img style="height: 40px; margin-top: 10px" src="assets/images/logo.png" alt="" />
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a ui-sref="find_mentor()">Find a Course / Mentor</a></li>
          <!-- <li><a href="/logout">Logout</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</div>
